
body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

h3 {
    margin-bottom: 0;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 16px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #3882F6;
    border-radius: 6px;
    padding: 8px 16px;
    font-weight: bold;
    border-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-container, .section-center{
    display: flex;
    justify-content: center;

    

} 

.section-center {
    max-width: 1440px;
    flex-direction: column;
    align-items: center;
}

.section-1 {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 1rem 14rem 7rem;
    
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.nav-bar {
    background-color: #1F2937;
    color: #F9FAF8;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
}

.hero {
    display:flex;
    background-color:#1F2937;
    
    justify-content: space-between;
}

.hero-container {
    
    
    margin:30px 0;
    gap: 6rem;
    
}

.hero-container .item{
    flex: 1 1 0;
}

.section-2 {
    text-align: center;
    margin-bottom: 36px;
}

.section-2 .cards{
    display: flex;
    flex-direction: row;
    
    
}

.card p{
    margin-left: 16px;
}

.section-3 {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    
}

.quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: rgba(31, 41, 55, 0.8);
    margin:0;
}
 
.section-3-container{
    padding: 6rem 14rem 5rem 14rem;
}


.section-4{
    
    margin: 64px 0px;
    
    

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex: 1;
    gap: 2rem;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    color:#E5E7EB;
}

.footer > p{
    margin: 0;
    padding: 24px;
}

.item > img{
    border-color: #3882F6 ;
    border-radius: 12px;
    max-width: 100%;
    height: auto;
}

img {
    border:3px solid #3882F6 ;
    border-radius: 8px;
    margin-top: 20px;
}

.by {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.main-item {

    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 4px;
    padding: 1rem 12rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.main-item .item button {
    border: 2px solid white;
    
}

.main-item .item p {
    margin-top: 0px;
}

